:root{
    --gameboard-cell-border: 2px solid gray;
}

body{
    height: 100vh;
}

.gameboard{
    margin: 0 auto;
    width: 450px;
    height: 450px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.rowCenter{
    border-bottom: var(--gameboard-cell-border);
    border-top: var(--gameboard-cell-border);
}

.colCenter {
    border-left: var(--gameboard-cell-border);
    border-right: var(--gameboard-cell-border);
}

